# A Comprehensive Analysis Of Predicting Housing Prices

## Introduction

In the ever-evolving real estate market, accurately predicting housing prices is crucial for investors, homeowners, and policy makers alike. This project aims to leverage the power of data science to forecast housing prices based on a variety of features, including location, square footage, and additional house characteristics. Through meticulous data importing, cleaning, and manipulation, followed by exploratory data analysis (EDA), hypothesis testing, and predictive modeling, we seek to uncover the underlying patterns that drive housing prices.

Our journey begins with gathering comprehensive housing data from various sources, followed by rigorous preprocessing to ensure data quality and usability. We then dive deep into the data, employing statistical and visual analysis techniques to explore relationships and trends. Hypothesis testing allows us to challenge assumptions and gain insights, while machine learning models enable us to predict prices with accuracy. Finally, we encapsulate our findings, model performance, and insights in a detailed report, complemented by visualizations to aid in understanding.

This notebook serves as a structured guide through each phase of the project, from data importation to predictive analytics and reporting. Whether you're a seasoned data scientist or a curious enthusiast, this analysis aims to provide valuable insights into the dynamics of housing prices and demonstrate the power of data-driven decision-making in the real estate domain.

# Lets Begin!

## Data Importing

#### Here we get the dataset taken from [HERE](https://www.kaggle.com/datasets/dragonduck/property-listings-in-kuala-lumpur?resource=download)

In this cell, we are importing data into our Python environment. The process of data importing involves loading data from an external source into our program. Here's what's happening in this cell:

1. Importing Required Libraries:

   - We are importing the pandas library, which is a powerful data manipulation library in Python. It's commonly used for data cleaning, exploration, and analysis.

2. Data Loading:
   - We are using the `pd.read_csv()` function to read a CSV file. The CSV file is a common data format that stores tabular data.
   - The path to the CSV file is provided as an argument to the `pd.read_csv()` function. This path could be a local file path or a URL to a raw CSV file online.
   - The data from the CSV file is loaded into a DataFrame, which is a two-dimensional tabular data structure in pandas. The DataFrame is stored in the variable `df`.

After the data is loaded, we typically perform exploratory data analysis and data cleaning tasks to prepare the data for further analysis or modeling.

In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

#Read the housing.csv file

df = pd.read_csv("housing.csv")

df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

## Data Cleaning

In this cell, we perform data manipulation tasks on the DataFrame `df`. The purpose of data cleaning is to clean and transform the data to make it suitable for analysis.

1. Removing 'RM ' prefix and converting the 'Price' column to numeric format:

   - The 'Price' column contains values formatted like "RM 1,250,000".
   - We remove the 'RM ' prefix using the `str.replace()` method and replace any commas in the numbers.
   - Then, we convert the 'Price' column to a numeric format using the `pd.to_numeric()` function.

2. Filling missing values in the 'Furnishing' column with the placeholder "Unknown":

   - We use the `fillna()` method to replace missing values in the 'Furnishing' column with the string "Unknown".

3. Deleting rows where the 'Price' or 'Rooms' columns have missing values:

   - We use the `dropna()` method to remove rows where the 'Price' or 'Rooms' columns have missing values.

4. Replacing NaN values in the 'Car Parks' column with 0:
   - We use the `fillna()` method to replace NaN values in the 'Car Parks' column with 0.

After performing these data manipulation tasks, the cleaned DataFrame is displayed to verify the changes made.

Summary of the DataFrame after data cleaning:

- The DataFrame has a total of 51,980 entries.
- The columns in the DataFrame are 'Location', 'Price', 'Rooms', 'Bathrooms', 'Car Parks', 'Property Type', 'Size', and 'Furnishing'.
- The 'Price', 'Rooms', 'Bathrooms', 'Car Parks', and 'Size' columns have numeric data types.
- The 'Location', 'Property Type', and 'Furnishing' columns have object data types.

In [3]:
#'Price' column contains values formatted like "RM 1,250,000"
# Remove 'RM ' prefix and convert to numeric
df['Price'] = df['Price'].str.replace('RM ', '').str.replace(",","")

# Convert the 'Price' column to numeric values
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Display the cleaned head of the DataFrame to verify changes
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur",1250000.0,2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur",6800000.0,6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur",1030000.0,3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur",900000.0,4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

In [4]:
# Handling Missing Values
# For categorical columns,want to fill NaN with a placeholder "Unknown"
df['Furnishing'] = df['Furnishing'].fillna('Unknown')

#Delete Row where "Price" is NaN
df.dropna(subset=['Price'], inplace=True)

# Delete Row where "Rooms" is NaN
df.dropna(subset=['Rooms'], inplace=True)

# Replace NaN values in 'Car Parks' column with 0
df['Car Parks'] = df['Car Parks'].fillna(0)


# Display the cleaned DataFrame to verify changes
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur",1250000.0,2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur",6800000.0,6,7.0,0.0,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur",1030000.0,3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
4,"Bukit Jalil, Kuala Lumpur",900000.0,4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
5,"Taman Tun Dr Ismail, Kuala Lumpur",5350000.0,4+2,5.0,4.0,Bungalow,Land area : 7200 sq. ft.,Partly Furnished

In [5]:
import numpy as np
# Converting Data Types

#cleaning 'Size' column by following the regex pattern (Built-up|Land area) : (\d{1,3},?\d{3}|\d{3}) sq\. ft\. no match mean delete the row
df = df[df['Size'].str.match(r'(Built-up|Land area) : (\d{1,3},?\d{3}|\d{3}) sq\. ft\.', na=False)]

# Extracting Numeric Data from 'Size' column
df['Size'] = df['Size'].str.extract(r'(\d+,\d+|\d+)').replace(',', '', regex=True).astype(float)

#rename the column 'Size' to 'Sqft'
df.rename(columns={'Size': 'Sqft'}, inplace=True)

#remove the () in 'Property Type' column and remove spaces in the beginning and end of the string
df['Property Type'] = df['Property Type'].str.replace(r"\(.*\)", "", regex=True)
df['Property Type'] = df['Property Type'].str.strip()


#'Rooms' should be numeric, we need a custom function to handle "2+1" cases
def convert_rooms(room):

    if pd.isnull(room):
        return np.nan  # Return NaN for missing values
    
    parts = room.split('+')

    if len(parts) == 2:

        if parts[1] != "": # Check if the second part is not empty (e.g. "2+")

            return float(parts[0]) + float(parts[1])  # Example conversion: "2+1" becomes 3.0
        
        else:

            return float(parts[0])
    try:

        return float(room)
    
    except ValueError:
        return np.nan  # Return NaN if conversion fails

# Apply the custom function to 'Rooms' column
df['Rooms'] = df['Rooms'].apply(convert_rooms)

# Handling Infinite Values
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Display the cleaned DataFrame to verify changes
df

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Sqft,Furnishing
0,"KLCC, Kuala Lumpur",1250000.0,3.0,3.0,2.0,Serviced Residence,1335.0,Fully Furnished
1,"Damansara Heights, Kuala Lumpur",6800000.0,6.0,7.0,0.0,Bungalow,6900.0,Partly Furnished
2,"Dutamas, Kuala Lumpur",1030000.0,3.0,4.0,2.0,Condominium,1875.0,Partly Furnished
4,"Bukit Jalil, Kuala Lumpur",900000.0,5.0,3.0,2.0,Condominium,1513.0,Partly Furnished
5,"Taman Tun Dr Ismail, Kuala Lumpur",5350000.0,6.0,5.0,4.0,Bungalow,7200.0,Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur",5100000.0,6.0,4.0,0.0,Bungalow,7168.0,Fully Furnished
53879,"Bangsar, Kuala Lumpur",5000000.0,5.0,4.0,0.0,Bungalow,15000.0,Unfurnished
53880,"Bangsar, Kuala Lumpur",5500000.0,6.0,4.0,0.0,Bungalow,7168.0,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur",480000.0,3.0,2.0,0.0,Condominium,1150.0,Unfurnished
53882,"Setapak, Kuala Lumpur",540000.0,4.0,2.0,3.0,Condominium,1313.0,Partly Furnished

In [6]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sakha\miniconda3\envs\wif3009project\lib\site-packages (from scikit-learn) (3.4.0)
Note: you may need to restart the kernel to use updated packages.

## Data Manipulation

In this cell, we are performing several data manipulation tasks on the DataFrame `df`. Here's what's happening:

Installing the `scikit-learn` used for ML eventually and Labeling

1. One-Hot Encoding:

   - The 'Furnishing' column is being encoded using one-hot encoding. This is a process of converting categorical data variables so they can be provided to machine learning algorithms to improve predictions. With one-hot, we convert each category value into a new column and assign a 1 or 0 (True/False) value to the column Also Droping the `Furnishing_Unknown` column from the table s.

2. Outlier Removal:

   - The function `IQR_outliers()` is defined to remove outliers from a specified column of the DataFrame. Outliers are extreme values that deviate from other observations on data, they may indicate a variability in a measurement, experimental errors or a novelty. In other words, an outlier is an observation that diverges from an overall pattern on a sample.
   - The function calculates the Interquartile Range (IQR), which is a measure of statistical dispersion, and uses it to define the upper and lower bounds for outliers. Any data points that fall below the lower bound or above the upper bound are considered outliers.
   - This function is applied to the 'Price' and 'Size' columns of the DataFrame.

3. Feature Engineering:

   - A new column 'Price per Sqft' is created by dividing the 'Price' column by the 'Size' column. This could provide a more standardized measure of price that takes into account the size of the property.

4. Label Encoding:
   - The 'Property Type' column is being encoded using label encoding. This is a popular encoding technique for handling categorical variables. In this technique, each label is assigned a unique integer based on alphabetical ordering.

Finally, the first few rows of the cleaned DataFrame are displayed to verify the changes.

### Label Encoding of 'Property Type'

0 -> 1-sty Terrace/Link House

1 -> 1.5-sty Terrace/Link House

2 -> 2-sty Terrace/Link House

3 -> 2.5-sty Terrace/Link House

4 -> 3-sty Terrace/Link House

5 -> 3.5-sty Terrace/Link House

6 -> 4-sty Terrace/Link House

7 -> 4.5-sty Terrace/Link House

8 -> Apartment

9 -> Bungalow

10 -> Cluster House

11 -> Condominium

12 -> Flat

13 -> Residential Land

14 -> Semi-detached House

15 -> Serviced Residence

16 -> Townhouse

In [7]:
#Encode the 'Furnishing' column using one-hot encoding
df = pd.get_dummies(df, columns=['Furnishing'], prefix='Furnishing')

# Remove row with "Furnishing_Unknown" column
df = df.drop(columns=['Furnishing_Unknown'])

def IQR_outliers(df, column):
    # Calculate the first quartile (Q1)
    Q1 = df[column].quantile(0.25)

    # Calculate the third quartile (Q3)
    Q3 = df[column].quantile(0.75)

    # Calculate the interquartile range (IQR)
    IQR = Q3 - Q1

    # Define the lower bound for outliers
    lower_bound = Q1 - 1.5 * IQR

    # Define the upper bound for outliers
    upper_bound = Q3 + 1.5 * IQR

    # Filter the DataFrame to remove outliers
    return df[(df[column] > lower_bound) & (df[column] < upper_bound)]

# Remove outliers from 'Price' and 'Sqft' columns
df = IQR_outliers(df, 'Price')
df = IQR_outliers(df, 'Sqft')


#create a new column 'Price per Sqft' by dividing 'Price' by 'Size'
df['Price per Sqft'] = df['Price'] / df['Sqft']

#label encode the 'Property Type' column
from sklearn.preprocessing import LabelEncoder

# Initialize a LabelEncoder object
label_encoder = LabelEncoder()

# Encode the 'Property Type' column
df['Property Type'] = label_encoder.fit_transform(df['Property Type'])

# Display the cleaned DataFrame to verify changes
df.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Sqft,Furnishing_Fully Furnished,Furnishing_Partly Furnished,Furnishing_Unfurnished,Price per Sqft
0,"KLCC, Kuala Lumpur",1250000.0,3.0,3.0,2.0,15,1335.0,True,False,False,936.329588
2,"Dutamas, Kuala Lumpur",1030000.0,3.0,4.0,2.0,11,1875.0,False,True,False,549.333333
4,"Bukit Jalil, Kuala Lumpur",900000.0,5.0,3.0,2.0,11,1513.0,False,True,False,594.844679
9,"Sri Petaling, Kuala Lumpur",385000.0,3.0,2.0,1.0,8,904.0,False,True,False,425.884956
12,"Taman Tun Dr Ismail, Kuala Lumpur",1700000.0,4.0,3.0,0.0,2,1900.0,False,True,False,894.736842

## Exploratory Data Analysis (EDA) and Visualization

Exploratory Data Analysis (EDA) allows us to dive deep into the dataset, uncovering patterns, relationships, and insights. Through visualizations such as histograms, scatter plots, and heatmaps, we gain a comprehensive understanding of the data's characteristics and the factors influencing housing prices. This visual and statistical exploration is pivotal in guiding our hypothesis testing and predictive modeling efforts.

## Hypothesis Testing

Armed with insights from our EDA, we formulate and test hypotheses regarding factors that may influence housing prices. Utilizing statistical tests, such as t-tests or chi-square tests, we assess the validity of these hypotheses, providing a data-driven foundation for our predictive models. This step is crucial for identifying significant variables and relationships within our dataset.

## Predictive Analytics (Machine Learning / Deep Learning)

Transitioning from analysis to prediction, we employ machine learning models to forecast housing prices. This phase involves splitting our data into training and testing sets, selecting appropriate models, and training them on our dataset. Through model evaluation, we assess the accuracy and effectiveness of our predictions, striving for models that offer both high precision and generalizability.

## Reporting

In the final phase of our project, we compile and present our findings, insights, and model performance metrics. This comprehensive report not only highlights the key outcomes of our exploratory data analysis and hypothesis testing but also showcases the predictive power of our models. Through detailed visualizations and narrative, we provide a clear and engaging overview of our project's achievements and implications for the real estate market.

## Extra Bonus Components

Beyond the core components of our project, we explore additional enhancements such as web deployment, dashboard creation, prescriptive analytics, and GUI development. These extra features aim to extend the applicability and accessibility of our analysis, offering real-time insights, interactive visualizations, and user-friendly interfaces for diverse audiences.